RewriteEngine On
ErrorDocument 404 /404.html
ErrorDocument 500 /500.html
RewriteRule ^api/v1(?:/.*)?$ api/index.php [QSA,L]
RewriteRule ^api/[^/]+\.php$ - [R=410,L]
RewriteRule ^(app|fiche-bien|guide-investissement-locatif|guide-mdb-division-parcellaire)\.html$ protected_page.php?page=$1.html [QSA,L]
